---
export interface Props {
    title?: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title ? `${title} | ` : null} Astro Dashboard UI</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
:where(*, *::before, *::after) {
    box-sizing: border-box;
}

:where(body, h1, h2, h3, h4, p, ul) {
    margin: 0;
}

:where(h1, h2, h3, h4) {
    line-height: 1.1;
}

:where(ul) {
    list-style-type: none;
    padding: 0;
}

:where(html) {
    scrollbar-gutter: stable;
}

:where(body) {
    background: hsl(17 24% 94%);
    color: hsl(257 31% 22%);
    font-family: sans-serif;
    line-height: 1.5;
}

:where(.container) {
    width: min(100% - 2rem, 80rem);
    margin-inline: auto;
}

:where(.flow > * + *) {
    margin-block-start: var(--flow-space, 1rem);
}

:where(.card) {
    padding: 1rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: hsl(240 100% 100%);
    border-radius: 0.5rem;
}

:where(.card[data-status="active"]) {
    background-color: hsl(116 27% 72%);
}
</style>
