---
export interface Props {
    title?: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title ? `${title} | ` : null} Astro Dashboard UI</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
:where(*, *::before, *::after) {
    box-sizing: border-box;
}

:where(body, h1, h2, h3, h4, p, ul) {
    margin: 0;
}

:where(h1, h2, h3, h4) {
    line-height: 1.1;
}

:where(ul) {
    list-style-type: none;
    padding: 0;
}

:where(html) {
    scrollbar-gutter: stable;
}

:where(body) {
    background: hsl(17 24% 94%);
    color: hsl(257 31% 22%);
    font-family: sans-serif;
    line-height: 1.5;
}

:where(:focus-visible) {
    outline: 0.125rem solid hsl(257 31% 22%);
    outline-offset: 0.125rem;
    border-radius: 0.125rem;
}

:where(.container) {
    width: min(100% - 2rem, 80rem);
    margin-inline: auto;
}

:where(.flow > * + *) {
    margin-block-start: var(--flow-space, 1rem);
}

:where(.card) {
    padding: 1rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: hsl(240 100% 100%);
    border-radius: 0.5rem;
}

:where(.card[data-status="active"]) {
    position: relative;
    background-color: hsl(116 27% 82%);
    box-shadow: none;
}

:where(.card[data-status="active"])::before {
    content: "✔";
    position: absolute;
    width: 1rem;
    aspect-ratio: 1;
    left: -0.75rem;
    top: -0.75rem;
    background-color: hsl(116 27% 82%);
    border: 4px solid hsl(17 24% 94%);
    border-radius: 50%;
    line-height: 1rem;
    text-align: center;
    padding: 0.25rem;
}

:where(.card a) {
    color: inherit;
    display: inline-block;
    transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

:where(.card a:hover) {
    text-decoration-line: none;
    color: hsl(223 97% 55%);
}

:where(.card header, .card-header) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 0.25rem 1rem;
    flex-wrap: wrap;
}

:where(.tooltip) {
    z-index: 1;
}

:where(.tooltip [data-part="content"]) {
  background-color: hsl(257 31% 22%);
  color: hsl(17 24% 94%);
  border-radius: 0.25rem;
  padding: 0.25rem 1rem;
}

:where(.tooltip [data-part="arrow"]) {
  --arrow-size: 0.5rem;
  --arrow-background: hsl(257 31% 22%);
}

:where(.toast[data-part="root"]) {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-weight: 700;
}

:where(.toast[data-part="root"][data-type="success"]) {
    background-color: hsl(116 27% 82%);
}
</style>
